@charset "utf-8";
/*============================pub-top================================*/
.fr{float:right}
.fl{float:left}
.half{width: 50%;}
.center{text-align: center;}
.margin_xs_1{display: block; margin: 1rem 0rem;}
.margin_sm_1{display: block; margin: 0.5rem 0rem;}
.row{display: block;width: 100%;clear: both;overflow: hidden;}
.row .col-sm-4{float: left;width: 32%;margin: 0.5rem 0.6666%;}
.fix{overflow:hidden; zoom:1;}
.clear:after{height:0;display:block;clear:both;visibility:hidden;content:"";}
.container,.box{width: 100%;height:auto;margin: 0 auto;}
.container .header{width: 100%;height:auto;margin: 0 auto;}
.text-indent{text-indent: 2em;}
.relative{position: relative;}
.margin-top-xs{margin-top: 0.3rem;}
.margin-top-sm{margin-top: 0.5rem;}
.margin-top-md{margin-top: 1rem;}
.margin-top-lg{margin-top: 1.5rem;}
.w_mobile{width: 95%;margin: 0rem auto;clear: both;overflow: hidden;}
.pub_title{font-size: 1.2rem; text-align: center;}
.teacher_intro strong{display:block;height: 2rem; font-size: 1.2rem;line-height: 2rem; border: 1px solid #DEDEDE;background: #337ab7;color: #FFFFFF;border-radius: 10%;box-shadow: 2px 2px 4px #12538a;}
.teacher_intro strong.on{background: #9eb8f5;color: #000000;box-shadow: none;}

.teacher_scroll{display: none;}
.teacher_scroll.active{display: block;}
.teacher_scroll .teacher{display: block;width: 100%;height:auto;}
.teacher_scroll .teacher .pic{display: block;width: 25%;height:auto;overflow: hidden;cursor: pointer;}
.teacher_scroll .teacher .arc{display: block;width: 74%;margin-left:1%;height:auto;overflow: hidden;}
.teacher_scroll .teacher .arc .title{display: block;width: 100%;height:auto;font-size:0.4rem;color:#000000;overflow: hidden;}
.teacher_scroll .teacher .arc .title .name{font-size: 1rem;line-height: 1.5rem;text-decoration: none;}
.teacher_scroll .teacher .arc i{display: block;width: 100%;height: auto;border: 1px solid #696969;}
.teacher_scroll .teacher .arc .introduce{font-size: 0.5rem;color: #000000;text-align: justify;line-height: 0.7rem;}
.teacher_scroll .teacher .arc .introduce ins{font-size: 0.5rem;color: #f33e35;line-height: 1.2rem;text-decoration: none;}



@media only screen and (min-width: 100px) and (max-width: 640px) {
	.teacher_scroll .teacher{margin: 1rem auto;}
	.teacher_scroll .teacher .arc .title{font-size:0.4rem;}
	.teacher_scroll .teacher .arc .title .name{font-size: 1rem;line-height: 1.5rem;}
	.teacher_scroll .teacher .arc .introduce{font-size: 0.5rem;line-height: 0.7rem;}
	.teacher_scroll .teacher .arc .introduce ins{font-size: 0.5rem;line-height: 1.2rem;}
}
@media only screen and (min-width: 641px) and (max-width: 750px) {
	.teacher_scroll .teacher{margin: 1rem auto;}
	.teacher_scroll .teacher .arc .title{font-size:0.55rem;}
	.teacher_scroll .teacher .arc .title .name{font-size: 1.1rem;line-height: 1.6rem;}
	.teacher_scroll .teacher .arc .introduce{font-size: 0.55rem;line-height: 0.8rem;}
	.teacher_scroll .teacher .arc .introduce ins{font-size: 0.55rem;line-height: 1rem;}
}
@media only screen and (min-width: 751px) and (max-width: 1080px) {
	.teacher_scroll .teacher{margin: 1.2rem auto;}
	.teacher_scroll .teacher .arc .title{font-size:0.7rem;}
	.teacher_scroll .teacher .arc .title .name{font-size: 1.3rem;line-height: 1.8rem;}
	.teacher_scroll .teacher .arc .introduce{font-size: 0.7rem;line-height: 1rem;}
	.teacher_scroll .teacher .arc .introduce ins{font-size: 0.7rem;line-height: 1.5rem;}
}
@media only screen and (min-width: 1081px) and (max-width: 1125px){
	.teacher_scroll .teacher{margin: 1.5rem auto;}
	.teacher_scroll .teacher .arc .title{font-size:0.7rem;}
	.teacher_scroll .teacher .arc .title .name{font-size: 1.3rem;line-height: 2rem;}
	.teacher_scroll .teacher .arc .introduce{font-size: 0.7rem;line-height: 1rem;}
	.teacher_scroll .teacher .arc .introduce ins{font-size: 0.7rem;line-height: 2rem;}
}
@media only screen and (min-width: 1126px) {
	.teacher_scroll .teacher{margin: 2rem auto;}
	.teacher_scroll .teacher .arc .title{font-size:0.9rem;}
	.teacher_scroll .teacher .arc .title .name{font-size: 1.5rem;line-height: 2rem;}
	.teacher_scroll .teacher .arc .introduce{font-size: 0.9rem;line-height: 1.5rem;}
	.teacher_scroll .teacher .arc .introduce ins{font-size: 0.9rem;line-height: 2rem;}
}
